<script type="text/javascript" charset="utf-8">
	$(function() {
		var linkVal = "javascript:(function(){rt={};rt.userID=<%= everyauth.twitter.user.id %>;rt.head=document.getElementsByTagName('head')[0],script=document.createElement('script');script.type='text/javascript';script.src='<%= serverURL %>javascripts/rtbookmarklet.js?'+Math.floor(Math.random()*99999);rt.head.appendChild(script);})();void 0;";
		
		$('#bookmarklet').attr('href', linkVal);
	});
</script>

OK DUDE IT WORKED. Here's the bookmarklet dood: <a id="bookmarklet" href="" alt="Start a Roundtable">Start a Roundtable</a>