<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" charset="utf-8">
	function twitterAuthSuccess() {
		$("#main").load('/authSuccess');
	}

	function openTwitterAuthWindow() {
		googleAuthWin = window.open('/auth/twitter/', 
			'open_window', 
			'status, scrollbars, resizable, dependent, width=640, height=400');
	}
</script>
<p><a href="javascript:openTwitterAuthWindow();">LOG IN WITH TWITTER</a></p>