<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
		<style type="text/css" media="screen">
			#main {
				font-family: "Paytone One";
				font-size: 18px;
				text-align: center;
				color: black;
			}
			#main a {
				font-size: 25px;
				color: #d90303;
			}
		</style>
	</head>
	<body>
		<div id="main">
			Roundtable created! You can visit it at:<br>
			<a href="<%= roundtableURL %>"><%= roundtableURL %></a>
		</div>
	</body>
</html>