#rt_div {
	border: 12px solid black;
	position: fixed;
	top: 50px;
	height: 400px;
	width: 700px;
	z-index: 10000000;
	background: rgba(0, 0, 0, 0.6) none;
}

#rt_close {
	position: relative;
	top: -60px;
	left: -60px;
}