#rt_div {
	border: 12px solid black;
	position: fixed;
	top: 50px;
	height: 500px;
	width: 700px;
	z-index: 10000000;
	background: rgba(255, 255, 255, 0.6) none;
}

#rt_close {
	position: relative;
	top: -60px;
	left: -60px;
}

#rt_logo {
	position: relative;
	width: 260px;
	top: -140px;
	left: 450px;
	font-family: "Paytone One";
	font-size: 40px;
	color: #d90303;
	margin: 10px;
}

#rt_tweet {
	position: relative;
	top: -180px;
	margin: 20px;
}

#rt_post {
	position: relative;
	top: -180px;
	margin: 20px;
}

.rt_label {
	font-family: "Paytone One";
	font-size: 18px;
	color: black;
}

.rt_input {
	width: 650px;
	border: 4px solid #2d2d2d;
	background-color: #eeeeee;
	padding: 4px;
	font-size: 16px;
	font-family: "Rosario";
}

.rt_input:hover {
	border: 4px solid #2d2d2d;
	background-color: #eeeeee;
}


.rt_input:focus {
	border: 4px solid black;
	background-color: white;
}

#rt_submit {
	position: relative;
	top: -180px;
	margin: 10px 20px 10px 20px;
	border: 4px solid black;
	width: 650px;
	height: 55px;
	font-family: "Paytone One";
	font-size: 35px;
	text-align: center;
	background: #353535;
	color: #d5d5d5;
}

#rt_submit:hover {
	background: #4b4b4b;
	color: black;
}